h1{
    text-align: center;
    color: grey;
}


.text{
    border: 2px  solid red;
    /* padding-top: 40px; */
    /* padding-right: 40px; */
    /* padding-left: 40px; */
    /* padding-bottom: 40px; */
    padding: 20px 20px 20px 20px;
    text-align: center;
    background:green;
    color: white;
}
.text2{
    border: 2px  solid red;
    /* padding-top: 40px; */
    /* padding-right: 40px; */
    /* padding-left: 40px; */
    /* padding-bottom: 40px; */
    margin: 40px 20px 20px 20px;
    text-align: center; 
    background:green;
    color: white;
}