h1 {
    color: green;
    text-align: center;
}


p {
    color: red;
    text-align: center;
    font-family: 'Pushster', cursive;    /* fontlar oilasi */
    font-size: 20px;
    font-weight: 400;    /* qalinligi */
    margin-bottom: 50px;
    transition:1s;
}
p:hover{
    font-size: 21px;
    cursor: no-drop;
}


.katta {
    display: flex;
    justify-content: space-around;
}

.katta img {
    width: 300px;
    transition: 1s;
    /* height: 300px; */
}


.list::before{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: black;
}

.list::after{
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background: black;
}


.katta img:hover {
    border-radius: 50px ;
    width: 400px;
    cursor: no-drop;
}