.flex{
    margin: auto;
    width: 1000px;
    height: 500px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex .box{
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    background: red;
    margin: 2px;
}